<h1>Dashboard</h1>
<a href="/account">
    <button nz-button nzType="primary">
        <i nz-icon nzTheme="outline" nzType="account-book"></i> Sign in to a different account
    </button>
</a>
<br><br>
<a href="/update-menu">
    <button nz-button nzType="primary">
        <i nz-icon nzTheme="outline" nzType="plus-circle"></i> Update menu
    </button>
</a>
<br><br>
<a href="/menu">
    <button nz-button nzType="primary">
        <i nz-icon nzTheme="outline" nzType="eye"></i> View menu
    </button>
</a>
<br><br>
<a href="/incomplete-orders">
    <button nz-button nzType="primary">
        <i nz-icon nzTheme="outline" nzType="eye-invisible"></i> View incomplete orders
    </button>
</a>
